body{
  background-color: #f0edf5;
}

.App{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

img{
  height: 14rem;
  width: auto;
  margin-bottom: 20px;
}

select{
    padding: 7px;
    background-color: #e8e2f3;
    font-size: initial;
    font-weight: bold;
    border: 2px solid rgb(221, 220, 220);
    border-radius: 5px;
}

select option {
  margin: 40px;
  background: #130427;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(36, 35, 35, 0.4);
  padding-top: 4px;
  border-radius: 10px;
}

.route-plan{
  text-align: left;
}

.route-show{
  display: flex;
  justify-content: space-between;
}

.route-Start-End{
  display: flex;
  flex-direction: column;
  background-color: #2986d3;
  justify-content: space-between;
  width: 21rem;
  height: 8rem;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
}

.route-end .route-start{
  display: flex;
  float: left;
  align-content: flex-start;
  margin-top: 5px;
  margin-left: 3px;
}

.route-start-station .route-end-station{
  display: flex;
flex-direction: row;
  justify-content: center;
  margin: 0px 10px 30px 10px;
  text-align: center;
}





